@media (max-width: 840px) {
   .header-content {
      &__form-input {
         width: 181px;
      }
   }
   .content {
      &__wrapper {
         display: flex;
         justify-content: center;
      }
   }
   .modal-content {
      max-width: 502px;
      padding: 10px;
   }
}

@media (max-width: 580px) {
   .header-content {
      display: flex;
      flex-wrap: wrap;
      column-gap: 45px;
      row-gap: 15px;
      align-items: center;
      justify-content: center;
      height: 115px;
      padding: 8px;
   }
   .content {
      &__wrapper {
         display: flex;
         justify-content: center;
         align-items:center;
      }
   }
   .modal-content {
      max-width: 410px;
      padding: 8px;
   }
   .footer-copyright {
      &__text {
         max-width: 285px;
         margin: 0 auto;
      }
   }

}


@media (max-width: 460px) {

   .modal-content {
      max-width: 320px;
      padding: 8px;
   }
}
